{% extends 'template.html' %}

{% load static %}
{% block content %}
    <div id="box">
        <img id="success-icon" src="{% static 'images/check.png' %}" style="height: 350px; width: 250px;">
        <h4>Thank you for contribution of Rs {{ amount }}!</h4>
        <p>Your support helps me fulfill my dream of teaching aspiring developers around
            the world!! You should receive a receipt to the email you provided shortly :)</p>
        <hr>
        <a class="myButton" href="{% url 'index' %}">&#x2190;Back to donation page</a>


    </div>

{% endblock %}